@import "tailwindcss";

.fav_btn{
    position: absolute;
    top: 16px;
    right: 16px;
    background: #FC8019;
    padding: 4px 6px;
}

.meals_card_main{
    padding: 15px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #FFF8F0; 
}

::-webkit-scrollbar-thumb {
  background-color: #FC8019; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E23744; 
}

@media (max-width: 767px) {

    .header_main{
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .meals_card_main{
        margin-top: 15rem;
        padding: 15px;
    }
    .mealsCard_details{
        margin: 15px;
    }

    .filter_div{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 990px){
    .header_main{
        flex-direction: column;
    }
    .meals_card_main{
        margin-top: 10rem;
        padding: 15px;
    }
     .mealsCard_details{
        margin: 15px;
    }
}

